*{
    font-family: Arial, Helvetica, sans-serif;
    color: #12122b;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #e4ebf0;
    margin: auto;
    padding: 0 50px;
}

h1,h2,h3{
    color: #003f7c;
}

p{
    text-align: justify;
}
nav{
    margin-top: 40px;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 0px;
}

a{
    text-decoration: none;
    color: #003f7c;
}

nav a:hover{
    color: #8ab3cf;
}

header img{
    width: 150px;
    height: 150px;
    padding: 10px;
    border-bottom: 2px solid #8ab3cf;
}

footer{
    margin-top: 50px;
}
footer img{
    width: 40px;
    height: 40px;
}

footer a{
    margin: 5px;
    text-align: center;
}
footer p{
    color: #003f7c;
}
footer p:hover{
    color: #8ab3cf;
}

.centro{
    text-align: center;
}



